@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.layout {
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-root {
  /* border: 2px solid red; */
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 80px;
}

.logo img:hover {
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #52525b;
  font-weight: 400;
  gap: 60px;
}

.navbar-links li {
  border: 1px solid blue;
  /* margin: 30px 40px; */
  max-width: 50px;
}

.navbar-links li:hover {
  cursor: pointer;
  color: black;
}

.showcase {
  margin-top: 10px;
  /* border: 2px solid red; */
}

.showcase-title {
  /* border: 1px solid black; */
  font-weight: bold;
  font-size: 20px;
}

.showcase-images {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.showcase-image {
  height: 150px;
  /* border: 1px solid blue; */
}

.showcase-image:hover {
  cursor: pointer;
}

.horizontal-line {
  margin-top: 40px;
  background-color: #e5e7eb;
  height: 2px;
  max-width: 0 auto;
}

.top-res-container {
  margin-top: 40px;
}

.top-res-title {
  font-weight: bold;
  font-size: 20px;
}

.top-restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.top-res-card {
  margin-top: 20px;
  transition: transform 0.2s ease;
}

.top-res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.top-res-img-container {
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.top-res-img {
  height: 150px;
  width: 230px;
  object-fit: cover;
  border-radius: 20px;
}

.top-res-details {
  padding: 10px 20px;
  /* border: 1px solid blue; */
}

.top-res-name {
  font-size: 14px;
  font-weight: bold;
  /* font-weight: 700; */
}

.top-res-rating {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 0 8px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.top-res-delivery-time {
  font-size: 12px;
  font-weight: 600;
}

.top-res-area {
  font-size: 14px;
}

.res-delivery-container {
  margin-top: 40px;
}

.res-delivery-title {
  font-weight: bold;
  font-size: 20px;
}
